.container {
  font-family: arima;
  font-weight: 500;
  color: #ff007b;
}
.app-main {
  max-width: 550px;
  margin: 40px auto;
}

.wrapper {
  padding: 30px;
  border: 1px solid #ffcbcb;
  border-radius: 20px;
}
.h1 {
  padding: 15px 0;
}
.temp {
  color: #f76b8a;
}
strong {
  font-size: 40px;
}
p {
  line-height: 10px;
}
.units {
  position: relative;
  top: -17px;
}

li {
  list-style: none;
}
.weather-temperature .active {
  color: #ffb5b5;
  text-decoration: none;
  cursor: default;
}
.weather-temperature .active:hover {
  color: #ffb5b5;
  text-decoration: none;
}
.btn-search {
  background-color: #f76b8a;
  border: none;
  color: #fff;
  padding: 6px;
  border-radius: 10px;
}
.btn-search:hover {
  background-color: #fff;
  color: #f76b8a;
  border: 1px solid #f76b8a;
}
.location-button {
  background-color: #f76b8a;
  border: none;
  color: #fff;
  width: 150px;
  height: 35px;
  border-radius: 10px;
}
.location-button:hover {
  background-color: #fff;
  color: #f76b8a;
  border: 1px solid #f76b8a;
}
.app-second {
  padding: 20px;
  margin: 15px 0;
  color: #ff007b;
  background-color: #ffb5b5;
  border: 1px solid #f76b8a;
  text-align: center;
  font-size: 15px;
}
