.app-main {
  max-width: 600px;
  margin: 40px auto;
}

.wrapper {
  padding: 30px;
  border: 1px solid plum;
  border-radius: 20px;
}
strong {
  font-size: 40px;
}
.units {
  position: relative;
  top: -17px;
}

li {
  list-style: none;
}
.weather-temperature .active {
  color: black;
  text-decoration: none;
  cursor: default;
}
.weather-temperature .active:hover {
  color: black;
  text-decoration: none;
}
